.app-container {
    width: 100%;
    padding: 0;
    margin: 0
}

.app {
    text-align: left;
}

.app-header {
    background-color: #0075ff;
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
}

.app-header-image {
    height: 150px;
}

.app-title {
    font-size: 42px;
    font-weight: bold;
    color: white;
    padding: 10px 0 10px 10px;
}

.task-list {
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px 0;
}

.task-list-header-todo {
    font-size: 24px;
    color: #e00000;
    padding: 20px 0 0 0;
}

.task-list-header-completed {
    font-size: 24px;
    color: #00b107;
    padding: 20px 0 0 0;
}

.task-list-items {
    list-style-type: none;
    padding: 0;
}

.task-list-add-img {
    padding: 0 0 0 15px;
}

.task-list-add-img:hover{
    cursor: pointer;
}

.task-a, .task-b {
    padding: 10px
}

.task-a {
    background-color: #fefefe;
}

.task-b {
    background-color: #fefefe; /*#dfdfdf;*/
}

.task-img-icon {
    height: 24px;
}

.task-img-work{
    padding: 0 5px;
}

.task-img-work:hover {
    cursor: pointer;
}

.task-msg {
    height: 64px;
    
}

.task-msg p {
    padding:0;
}
